<!DOCTYPE html>
<html lang="en">

<head>
    <title>Its my way to love !!!</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                       Its my way to love !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                    I believe that everyone want to say something to someone and have a story to tell.
                    That's why I created <code>Its my way to love !!!</code>

                    <br><br><br>
                    Please login and put your valuable comment.
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
