<!DOCTYPE html>
<html lang="en">

<head>
    <title>No Pressure no diamonds !!!</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        No Pressure no diamondss !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                    I believe that everyone having something to tell someone.
                    That's why I created <code>No Pressure no diamondss</code> foundation where people share their
                    life changing stories.

                    <br><br><br>
                    <b>Please login and give your valuable feedback.</b>

                  </blockquote>


                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
